<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
			<ul>
				<li><a href="http://www.gameblipsreviews.com>Home</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="http://store.gameblipsreviews.com">Store</a></li>
				<li><a href="/about">About</a></li>
			</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<ul>
				<li><a href="mailto:gameblips@gmail.com">email</a></li>
				<li>© 2018 <a href="https://gameblipsreviews.com">GameBlips</a></li>
				</ul>
			</footer>
		</body>
	</html>
